<html>
    <head>
        <style>
            body {
                margin-top: 0;
                margin-left: 15px;
            }
            #nav {
                display: flex;
                width: 100%;
                margin-bottom: 30px;
                padding: 5px;
                border-bottom-left-radius: 6px;
                border-bottom-right-radius: 6px;
                color: white;
                background-color: #8cfc60;
                height: 50px;
                font-size: 22px;
            }

            .bl {
                float: left;
                flex: 3;
            }
            
            .br {
                float: right;
                flex: 1;
            }
        </style>

        <style>
            h3 {
                width: 50%;
                margin-right: 24.5%;
                margin-left: 24.5%;
            }
        </style>
    </head>
    <body>
        <div id="nav">
            <div class="row-el bl">
                CPP VAJE
            </div>
            <div class="row-el br">
                <a href="./tasks"> Vaje </a>
            </div>
        </div>
        <h3> Vaje za cpp (~1500 primerov) </h3>
    </body>
</html>